@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Comic Neue';
  background-color: #ffffff;
}

.app-container {
  max-width: 430px;
  margin: 0 auto;
}

.screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro {
  background-color: #AEB1A7;
  color: white;
  justify-content: flex-start;
  bottom: 10%;
}

.intro h1 {
  font-family: DynaPuff;
  font-size: 10vw;
  margin-top: 10vh;
}

.intro p {
  font-family: 'Comic Neue';
  font-weight: 600;
  font-size: 2vh;
  margin-top: 7vh;
  margin-left: 5%;
  margin-right: 5%;
}

.black-bottom-shape {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  background-color: black;
  border-radius: 400px 400px 0 0 ;
}

.peggy {
  background-color: #443EFF;
  color: white;
}

.peggy h1 {
  font-family: DynaPuff;
  font-size: 10vw;
  margin-top: 10vh;
}

.peggy p {
  font-family: 'Comic Neue';
  font-weight: 600;
  font-size: 2vh;
  margin-top: 5vh;
  margin-left: 5%;
  margin-right: 5%;
}

.modules {
  background-color: #4AD9E1;
  color: white;
  justify-content: space-between;
}

.modul-text {
margin-bottom: 6vh;
margin-left: 5%;
margin-right: 5%;
font-weight: 600;
}

.module-screen {
  background-color: #7CF96B;
  color: black;
}

h1 {
  font-size: 10vw;
  font-weight: bold;
  margin-top: 10vh;
  font-family: DynaPuff;
  margin-left: 5%;
  margin-right: 5%;
}

button.knap {
  background: none;
  border: none;
  cursor: pointer;
  animation: bounce 1s infinite;
  display: inline-block;
  position: absolute;
  z-index: 1;
  bottom: 1%;

}

button.knap img {
  width: 100px;
  height: 100px;
  display: block;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

img.peggy-img {
  width: 40%;
  height: auto;
  margin-top: 2vh;
}

.module-list {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.module-item {
  padding: 1rem 3rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  text-align: left;
}

.module-1 { 
  background-color: #7CF96B; 
}

.module-2 { 
  background-color: #DAC84F; 
}

.module-3 { 
background-color: #96458B; 
padding-bottom: 20%;}


.module-item button {
  background: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Comic Neue';
  font-weight: 800;
  color: black;
}

.lesson, .quiz, .result, .intromodul {
  color: black;
  padding: 1rem;
  border-radius: 12px;
  width: 100%;
  max-width: 360px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*
.lesson button {
  margin: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #333;
  background: #fff;
  cursor: pointer;
  font-family: 'Comic Neue';
}*/

.lesson p, .quiz p, .result p {
  margin-bottom: 1rem;
}

.quiz button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #333;
  background: #fff;
  cursor: pointer;
  color: black;
}

.quiz button:hover {
  background-color: #eee;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.result button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #333;
  background: #fff;
  cursor: pointer;
  color: black;
}