@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

body {
  margin: 0;
  font-family: 'Comic Sans MS', cursive;
  background-color: #ffffff;
}

.app-container {
  max-width: 430px;
  margin: 0 auto;
}

.screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro {
  background-color: #AEB1A7;
  color: white;
  justify-content: flex-start;
  bottom: 10%;
}

.intro h1 {
  font-family: DynaPuff;
  font-size: 10vw;
  margin-top: 13vh;
}

.intro p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.5vh;
  margin-top: 10vh;
  margin-left: 5%;
  margin-right: 5%;
}

.black-bottom-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  background-color: black;
  border-radius: 50% 50% 0 0;
}

.peggy {
  background-color: #443EFF;
  color: white;
}

.peggy h1 {
  font-family: DynaPuff;
  font-size: 10vw;
  margin-top: 13vh;
}

.peggy p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.5vh;
  margin-top: 5vh;
  margin-left: 5%;
  margin-right: 5%;
}

.modules {
  background-color: #4AD9E1;
  color: white;
  justify-content: space-between;
}

.module-screen {
  background-color: #7CF96B;
  color: black;
}

h1 {
  font-size: 10vw;
  font-weight: bold;
  margin-top: 12vh;
  font-family: DynaPuff;
}

button.knap {
  background: none;
  border: none;
  cursor: pointer;
  animation: bounce 1s infinite;
  display: inline-block;
  position: absolute;
  z-index: 1;
  bottom: 11%;

}

button.knap img {
  width: 100px;
  height: 100px;
  display: block;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

img.peggy-img {
  width: 128px;
  height: 128px;
  margin-top: 10vh;
}

.module-list {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.module-item {
  padding: 1rem 3rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}

.module-1 { background-color: #7CF96B; }
.module-2 { background-color: #DAC84F; }
.module-3 { background-color: #96458B; }

.module-item button {
  background: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.lesson, .quiz, .result {
  background-color: #fdfdfd;
  color: black;
  padding: 1rem;
  border-radius: 12px;
  width: 100%;
  max-width: 360px;
}

.lesson p, .quiz p, .result p {
  margin-bottom: 1rem;
}

.quiz button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #333;
  background: #fff;
  cursor: pointer;
}

.quiz button:hover {
  background-color: #eee;
}
